<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../styles/login.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<title>Login</title>
</head>
<body>
  	<div class="container">
    	<form class="card" id="formLogin">
			<h1>Login</h1>

			<div id="msgError"></div>
			
			<div class="label-float" name="email">
				<input type="email" id="email" required>
				<label id="labelEmail" for="email">E-mail</label>
			</div>

			<div class="label-float" name="senha">
				<input type="password" id="senha" required>
				<label id="labelSenha" for="senha">Senha</label>
				<i id="verSenha" class="fa fa-eye-slash" aria-hidden="true"></i>
			</div>

			<div>
				<input type="checkbox" name="lembre" id="lembre">
				<label for="lembre" id="lembre2">Lembre-me</label>
			</div>

			<div class="justify-center" name="botão">
				<button type="submit">Login</button>
			</div>

			<br>
			<p class="justify-center">
				Não tem Cadastro?
				<a href="../views/cadastro.html"> Cadastre-se</a>
			</p>
		</form>
  	</div>

	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  	<script src="../scripts/login.js"></script>
</body>
</html>