<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados Esperados</title>
    <link rel="stylesheet" href="../styles/resultados.css">
</head>
<body>
  <header>

    <span class="menu-icon" onclick="toggleMenu()">&#9776;</span>
    <img src="../assets/image/Logo.png" alt="Logo" class="header-logo">
    <h1>Guia para Economia de Água em Residências</h1>
    
</header>

<main>

    <nav id="sidebar" class="sidebar">
        <span class="close-btn" onclick="toggleMenu()">&times;</span>

        <ul>
        
            <li><a href="../views/principal.html">Home</a></li>
            <li><a href="../views/dicas.html">Dicas para Economizar</a></li>
            <li><a href="../views/pesquisa.html">Pesquisa e Tecnologia</a></li>
            <li><a href="../views/calculadora.html">Calculadora de Consumo</a></li>
            <li><a href="../views/resultados.html">Resultados Esperados</a></li>
            <li><a href="../views/sobre.html">Sobre Nós</a></li>
            
        </ul>
    </nav>

    <main>
        <section class="results-section">
            <h2>Impacto das Ações Sustentáveis</h2>
            <p>Ao adotar práticas sustentáveis no uso da água, esperamos reduzir o desperdício, minimizar custos e preservar os recursos hídricos para as futuras gerações. Veja abaixo os principais resultados que podem ser alcançados:</p>
            
            <div class="results-container">
                <div class="result-card">
                    <h3>Redução no Consumo</h3>
                    <p>Com a adoção de medidas como fechamento de torneiras e reuso da água da chuva, o consumo médio pode ser reduzido em até 40%.</p>
                </div>
                <div class="result-card">
                    <h3>Economia Financeira</h3>
                    <p>Com a diminuição do consumo de água, a conta mensal pode sofrer uma redução significativa, resultando em mais economia para a família.</p>
                </div>
                <div class="result-card">
                    <h3>Preservação Ambiental</h3>
                    <p>A diminuição do desperdício contribui diretamente para a preservação de rios, lagos e aquíferos, garantindo o abastecimento de água potável.</p>
                </div>
                <div class="result-card">
                    <h3>Conscientização e Educação</h3>
                    <p>Ao adotar hábitos sustentáveis, promovemos uma cultura de conscientização sobre a importância da água e seu uso responsável.</p>
                </div>
            </div>
        </section>
        
    </main>
    <script src="../scripts/resultados.js"></script>
</body>
</html>
