<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/sobre.css">
    <title>Sobre Nós</title>
</head>
<body>
    <header>

        <span class="menu-icon" onclick="toggleMenu()">&#9776;</span>
        <img src="../assets/image/Logo.png" alt="Logo" class="header-logo">
        <h1>Guia para Economia de Água em Residências</h1>

    </header>
<main>

  <nav id="sidebar" class="sidebar">
    <span class="close-btn" onclick="toggleMenu()">&times;</span>

    <ul>

        <li><a href="../views/principal.html">Home</a></li>
        <li><a href="../views/dicas.html">Dicas para Economizar</a></li>
        <li><a href="../views/pesquisa.html">Pesquisa e Tecnologia</a></li>
        <li><a href="../views/calculadora.html">Calculadora de Consumo</a></li>
        <li><a href="../views/resultados.html">Resultados Esperados</a></li>
        <li><a href="../views/sobre.html">Sobre Nós</a></li>
        
    </ul>
  </nav>

  <section class="team cards-section">
    <h2 class=" tittle">Conheça a equipe</h2>

    <div class="team-container">
      <div class="member">

        <img src="../assets/image/matheus.jpeg" alt="Foto do Matheus">
        <h3>Matheus Decol</h3>
        <p>Gestor do projeto e desenvolvimento front-end</p>

      </div>

      <div class="member">

        <img src="../assets/image/leticia.jpeg" alt="Foto da Leticia">
        <h3>Leticia Satiko</h3>
        <p>Desenvolvimento front-end e back-end</p>

      </div>

      <div class="member">

        <img src="../assets/image/lucas.png" alt="Foto do Lucas">
        <h3>Lucas Laudenir</h3>
        <p>Desenvolvimento back-end e banco de dados</p>

      </div>

    </div>
  </section>
  
  <section class="goals">

    <h2>Nossa Missão</h2>
    <p>Nosso objetivo é reduzir o consumo de água em residências por meio de tecnologias inovadoras e conscientização.</p>

  </section>
  
  <section class="contact">

    <h2>Entre em Contato</h2>
    <button id="contactBtn">Fale Conosco</button>

  </section>
  
  <div id="popup" class="popup-container">
    <div class="popup-content">

        <span id="closePopup" class="close-btn">&times;</span>
        <h2>Entre em Contato</h2>
        <p>Para mais informações sobre o projeto, entre em contato pelo nosso linkedin:</p>
        <p><strong>
          <a href="https://www.linkedin.com/in/matheus-decol-da-silva-dantas-822799266/" target="_blank"> Matheus Decol</a><br>
          <a href="https://www.linkedin.com/in/leticiasatiko/" target="_blank">Leticia Satiko</a><br>
          <a href="https://www.linkedin.com/in/lucas-filipim-6976b1271/" target="_blank">Lucas Filipim</a>
        </strong></p>

    </div>
  </div>


  </main>

  <script src="../scripts/sobre.js"></script>

</body>
</html>
